body {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: auto;
    border: 30px #bdc7cf solid;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3098dd;
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #354b63;
    font-weight: bolder;
    font-size: 40px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

div p:nth-of-type(1) {
    border-left: 7px #bdc7cf solid;
    padding-left: 7px;
}

hr {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    /* this was taken from the following webpage: https://stackoverflow.com/questions/50576507/how-do-you-give-a-hr-a-gradient-color which was accessed on 7th November 2022*/
}